/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint";
@import "compass/utilities";

#{headings(all)} {
  font-weight: normal;
}

/*----------grid----------*/

$blueprint_grid_columns: 24;
$blueprint_grid_width: 30px;
$blueprint_grid_margin: 10px;

/*---------colors---------*/

$white: #ffffff;
$black: #000000;
$red: #A60000;
$dark_grey: rgb(80, 80, 80);

/*---------default--------*/

html {
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
	background-color: $red;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 15px;
  font-size: 13px;
}

#page {
  position: relative;
}

/*--------header--------*/

#header {
  z-index: 100;
  position: relative;
  @include container;
  margin: auto;
  height: 40px;
  overflow: visible;

  h1 {
    a {
      display: block;
      position: absolute;
      @include replace-text-with-dimensions('logo.png');
      top: 0;
      right: 0;
    }
  }

  #quote {
    position: absolute;
    @include replace-text-with-dimensions('quote.png');
    background-position: 0 0;
    height: image-height('quote.png') / 2;
    top: 45px;
    right: 320px;
  }

  #message {
    position: absolute;
    top: 85px;
    right: 320px;

    p {
      text-align: right;
      margin-bottom: 15px;
    }
  }
}

/*---------page----------*/

#content {
  position: relative;
  height: 700px;
  margin: 0;
  padding: 0;
  background-image: image-url('background.jpg');
}

/*----------------------*/
#home {
  position: relative;
  @include container;
}

#showcase {
  display: none;
  z-index: 1100;
  position: absolute;
  bottom: 435px;
  left: 95px;

  a {
    @include unstyled-link;
    cursor: pointer;

    &:hover {
      color: darken($dark_grey, 20%);
    }
  }

  a.prev {
    display: block;
    position: absolute;
    top: 100px;
    left: 315px;
    @include replace-text-with-dimensions('slide-prev.png');
    background-position: 0 0;
    height: image-height('slide-prev.png') / 2;

    &:hover {
      background-position: 0 (image-height('slide-prev.png') / -2);
    }
  }

  a.next {
    display: block;
    position: absolute;
    top: 100px;
    left: 727px;
    @include replace-text-with-dimensions('slide-next.png');
    background-position: 0 0;
    height: image-height('slide-next.png') / 2;

    &:hover {
      background-position: 0 (image-height('slide-next.png') / -2);
    }
  }

  #contact {
    @include float(left);
    overflow: hidden;
    width: 245px;
    height: 200px;
    margin: 0 35px 0 0;

    h2 {
      margin: 0 0 12px 0;
      color: $dark_grey;
      line-height: 18px;
      font-size: 17px;
    }

    p {
      margin: 0 0 12px 0;
      color: $dark_grey;

      &:not(.mail) {
        text-align: justify;
      }
    }
  }

  #slideshow {
    position: relative;
    @include float(left);
    overflow: hidden;
    width: 400px;
    height: 290px;
    margin: 0 0 0 45px;

    .wrapper {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    .slide {
      position: relative;
      display: block;
      @include float(left);
      height: inherit;
      width: inherit;
      margin: 0 auto;

      .slide-content {
        clear: both;
        display: block;
        width: 380px;
        margin: 0 auto;

        p {
          margin: 10px 0 0 0;
          padding: 0;
          text-align: justify;
          color: $dark_grey;
        }
      }
    }
  }
}

#illustration {
  z-index: 1000;
  position: relative;
  height: 700px;
  margin-bottom: 90px;

  display: none;

  #team {
    position: absolute;
    bottom: 0;
    left: 0;
    /*
    position: fixed;
    bottom: 92px;
    */
  }

  #animation {
    position: absolute;
    right: 0;
    bottom: 0;
    /*
    position: fixed;
    bottom: 92px;
    */
    margin: 0;
  }
}

/*---------footer---------*/

#footer {
  z-index: 100;
  position: relative;
  /*
  position: fixed;
  bottom: 0;
  left: 0;
  */
  width: 100%;
  height: 105px;
  background-color: $red;

  #credits {
    z-index: 110;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 63px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    margin-top: 40px;
    background-color: $white;

    p {
      display: block;
      height: 35px;
      margin: 13px 0 0 0;
      padding: 0;
      text-align: center;

      span {
        display: inline-block;
        @include replace-text-with-dimensions('credits.jpg');
        margin-right: 5px;
      }

      a {
        display: inline-block;
      
        &#fabriquedimages {
          @include replace-text-with-dimensions('fabriquedimages.jpg');
          background-position: 0 0;
          height: image-height('fabriquedimages.jpg') / 2;
          margin-right: 5px;

          &:hover {
            background-position: 0 (image-height('fabriquedimages.jpg') / -2);
          }
        }

        &#liquidconcept {
          @include replace-text-with-dimensions('liquidconcept.jpg');
          background-position: 0 0;
          height: image-height('liquidconcept.jpg') / 2;

          &:hover {
            background-position: 0 (image-height('liquidconcept.jpg') / -2);
          }
        }
      }
    }

    #github {
      display: block;
      height: 10px;
      margin: 4px 0 1px 0;
      padding: 0;
      text-align: center;
      line-height: 10px;
      font-size: 9px;
      color: $dark_grey;

      a {
        @include unstyled-link;
        cursor: pointer;
      }

    }
  }
}
